html {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 5px;
}

.content {
    flex-flow: row wrap;
    display: flex;
}

.left-panel {
    width: 10rem;
    flex: 1 auto;
    margin-left: 5px;
    margin-right: 5px;
}

.right-panel {
    width: 60rem;
    flex: 1 auto;
    flex-flow: column wrap;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.graph-type > button {
    width: 100%;
    display: block;
}

.graph-period {
    display: flex;
    margin-bottom: 1px;
}

.graph-period > select {
    flex: 1 auto;
}

.graph-type > button, .graph-period > select {
    margin-bottom: 5px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    outline: none;
    background: transparent;
    color: #afafaf;
    border: 1px solid #afafaf;
    border-radius: 0;
}

.graph-type > button.active {
    background: #afafaf;
    color: white;
}

.graph-type > button:hover {
    border: 1px solid black;
    background-color: rgba(57, 57, 57, 0.05);
}
.graph-type > button.active:hover {
    background-color: rgba(57, 57, 57, 0.5);
}

.graph-period > select:hover {
    border: 1px solid black;
}

.graph {
    border: 1px solid #afafaf;
}
.graph #canvas {
    width: 100%;
    height: 40rem;
}
